.special-offer 
    grid-column: 1 / 4
    color: #fff
.offer-column 
    // Layout
    grid-column: 2 / 3
    margin-top: -600px
    height: 550px
    width: 100%
    display: flex 
    flex-direction: column 
    justify-content: space-between
    align-items: flex-end
    .details 
        // Layout
        margin-top: -150px
        width: 50%

        // Typography
        font-family: "Roboto"
        font-style: 20px
        line-height: 35px
        font-weight: 300
        strong 
            // Typography
            font-weight: 600
@media screen and (max-width: 1000px)
    .special-bg 
        height: 110%
    .offer-column
        align-items: center
        height: 650px
        .details 
            margin-top: -50px !important
            margin-bottom: 125px
@media screen and (max-width: 600px)
    .special-bg 
        height: 120%
    .offer-column 
        height: 750px
        .details, form
            width: 80vw 