.special-offer 
    grid-column: 1 / 4
    color: #fff
.offer-column 
    // Layout
    grid-column: 2 / 3
    margin-top: -600px
    height: 550px
    width: 100%
    display: flex 
    flex-direction: column 
    justify-content: space-between
    align-items: flex-end
    .details 
        // Layout
        margin-top: -150px
        width: 50%

        // Typography
        font-family: "Roboto"
        font-style: 20px
        line-height: 35px
        font-weight: 300
        strong 
            // Typography
            font-weight: 600