.specializations-section
    grid-column: 2 / 3

.services-slider 
    // Layout
    display: flex
    margin: 50px 0 75px 0

    // Typography
    font-family: "Roboto"
    .text-wrapper
        // Layout
        padding: 20px
        height: 120px
        display: flex 
        flex-direction: column 
        justify-content: space-between
        h2 
            // Layout
            width: 50%
            // Typography
            font-size: 30px
            font-weight: 300
        p 
            // Layout
            width: 50%
            display: flex
            justify-content: space-between
            align-items: center

            // Typography
            color: $copper
            img 
                height: 30px
                width: 40px
