.specializations-section
    grid-column: 2 / 3

.services-slider 
    // Layout
    display: flex
    margin: 50px 0 0 0
    height: 500px
    align-items: center

    // Typography
    font-family: "Roboto"
    img 
        // Layout
        height: 250px
        width: 350px
    .text-wrapper
        // Layout
        padding: 20px
        height: 120px
        display: flex 
        flex-direction: column 
        justify-content: space-between
        h2 
            // Layout
            width: 50%

            // Typography
            font-size: 30px
            font-weight: 300
        p 
            // Layout
            width: 50%
            display: flex
            justify-content: space-between
            align-items: center

            // Typography
            color: $copper
            img 
                height: 30px
                width: 40px
    
.service-column:nth-child(2)
    color: red

@media screen and (max-width: 700px)
    .services-slider .slick-arrow 
        display: none !important
@media screen and (max-width: 550px)
    .services-slider 
        img    
            width: 90%
            height: 300px
            margin: auto
        .text-wrapper 
            padding-left: 40px

@media screen and (max-width: 400px)
    .services-slider img 
        height: 250px
