.reviews-section 
    grid-column: 2 / 3

.reviews-slider 
    // Layout
    margin: 75px 0 100px 0
    display: flex
    justify-content: baseline
    .review-col 
        // Layout
        display: flex 
        flex-direction: column
        justify-content: space-between
        margin: 0 75px 0 75px

        // Typography
        font-family: "Roboto"
        h2 
            // Layout
            margin-top: 30px !important

            // Typography
            margin-top: -50px
            line-height: 30px
            font-weight: 400
        .details 
            // Layout
            margin-top: 30px
            display: flex
            justify-content: space-between
            width: 50%
            img 
                // Layout
                height: 75px !important //Some were size correct and some weren't, not sure why
                width: 75px !important
                margin-right: 50px
            .more-details 
                // Layout
                display: flex 
                flex-direction: column 
                width: 300px
                .name 
                    // Typography
                    font-size: 25px
                    color: $copper
                .date 
                    // Typography
                    font-size: 15px 
                    color: grey
                    z-index: 10
    .avatar 
        // Layout
        height: 80px
        width: 80px
        border-radius: 50%
    .slick-dots 
        display: none !important

@media screen and (max-width: 1200px)
    .review-col 
        align-items: center 
        h2 
            text-align: center
        .details 
            align-self: flex-start
@media screen and (max-width: 850px)
    .review-col .details 
        align-self: center
@media screen and (max-width: 600px)
    .reviews-slider
        .review-col 
            padding: 0 
        h2 
            width: 85vw
        .slick-arrow
            display: none !important
