.about-page 
    .about-bg 
        display: none !important
    .about-row, .history, .logo-area
        margin-top: -50px !important
        color: black !important
    .about-row-2
        margin-top: 50px !important
        color: black !important
    .name 
        color: black