.portfolio-page 
    .portfolio-slider 
        width: 100%
        // display: flex !important
        grid-column: 2 / 3
    .projects-section
        margin-top: -100px
        .section-title
            display: none !important
        .more-btn 
            display: none !important
        .projects 
            // margin-bottom: -75px
    .media-sidebar 
        grid-row: 1 / 2
