.blog-page 
    grid-column: 2 / 3
    .path 
        // Layout
        margin-top: 30px

        // Typography
        font-family: "Roboto"
        color: grey
    .section-title 
        // Layout
        margin-top: 30px
    .title, .posted
        // Layout 
        padding: 15px 20% 40px 20%

        // Typography
        font-family: "Roboto"
        font-weight: 300
    .title 
        // Typography
        font-size: 55px
    .posted 
        // Typography
        color: grey
        font-style: 10px
    .main-image 
        width: 100%
        margin-bottom: 50px
    p 
        // Layout
        padding: 15px 15% 30px 15%

        // Typography
        font-family: "Roboto"
        font-weight: 300
        font-size: 25px
        line-height: 35px
    .share
        // Layout
        display: flex 
        align-items: center
        padding: 0 15% 40px 15%

        // Typography
        font-family: "Roboto"
        font-size: 20px 
        color: grey
        text-transform: uppercase
    .post-slider 
        margin: 15px 15% 30px 15%
    .post-image, .post-image img, .post-slider
        // Layout
        width: 900px !important
        height: auto 

.blog-section .section-title 
    display: none !important