.team-section 
    grid-column: 2 / 3
.team-slider 
    // Layout
    display: flex
    margin-top: 50px
    width: 100%
    margin-bottom: 50px
    
    // Typography 
    font-family: "Roboto"
    .team-column:hover 
        h2 
            transition: .2s ease-in-out
            color: $copper
    .slick-dots 
            // Layout
            width: 100%
            position: absolute
            display: flex !important
            align-self: flex-start 
            justify-content: space-around
            margin-top: -25px
            button 
                // Layout
                width: 30px
                height: 3px

                // Misc Styling
                cursor: pointer
                color: transparent
                background-color: rgba(157,125,79, .3)
                border: none
                border-radius: 10px

                // Animation
                transition: .5s ease-in-out
            .slick-active 
                @extend button 
                background-color: $copper
    img 
        height: 318px
        width: 98%
    .text-wrapper 
        // Layout
        margin-left: 15px
        margin-top: 25px
        margin-bottom: 20px
        height: 100px
        display: flex 
        flex-direction: column 
        justify-content: space-between
        h2 
            // Layout
            width: 10%

            // Typography
            font-family: "Playfair Display"
            font-weight: 600
            font-size: 30px
        p 
            // Typography
            font-size: 20px
            font-weight: 300
            color: $copper
    .section-1 
        border: 3px solid red

@media screen and (max-width: 700px)
    .team-slider
        img
            margin: auto
            width: 80%
        .text-wrapper 
            padding-left: 50px