.team-section 
    grid-column: 2 / 3
.team-slider 
    // Layout
    display: flex
    margin: 50px 0 50px 0
    width: 100%

    // Typography 
    font-family: "Roboto"
    .text-wrapper 
        // Layout
        margin-top: 25px
        margin-bottom: 20px
        height: 100px
        display: flex 
        flex-direction: column 
        justify-content: space-between
        h2 
            // Layout
            width: 10%

            // Typography
            font-family: "Playfair Display"
            font-weight: 600
            font-size: 30px
        p 
            // Typography
            font-size: 20px
            font-weight: 300
            color: $copper
    .section-1 
        border: 3px solid red