.about-section 
    // Layout
    grid-column: 1 / 4

    // Typography
    font-family: "Roboto"
    color: #fff
    .about-bg 
        width: 100vw
        height: 2200px
        z-index: 1
.about-row 
    // Layout
    grid-column: 2 / 3
    margin-top: -1900px
    display: flex
    width: 100%
    justify-content: space-around
    z-index: 10
    .about-slider img 
        width: 100% !important
        height: 600px
    .about-column
        // Layout
        display: flex 
        flex-direction: column 
        width: 40%
        .logo-area 
            img
                height: 75px
                width: 75px
            .name h1 
                font-size: 40px
            .name h3
                font-size: 20px
        p
            // Layout
            margin-top: 50px
            padding-top: 50px
            margin-left: 5%

            // Typography
            line-height: 30px
    .about-slider 
        width: 40%
.history 
    // Layout
    margin-top: -1200px
    grid-column: 1 / 3
    display: flex 
    justify-content: space-around
    width: 90vw
    padding-top: 100px

    // Typography
    font-family: "Playfair Display"
    .triangle 
        // Layout
        position: absolute
        margin-top: -200px
        margin-left: -300px
        min-width: 200px
        width: 15%
        height: auto
        transform: rotate(-15deg)
    .square 
        @extend .triangle
        margin-top: 0
        margin-left: 0
    .num 
        // Layout
        margin-right: -50px
        margin-top: -200px
        padding: absolute
        z-index: 2

        // Typography
        color: $copper
        font-size: 30vmin
    .type 
        // Layout
        width: 40%
        z-index: 3

        // Typography
        font-size: 5vmin
    .years 
        // Layout
        display: flex
        justify-content: center
        height: 150px
        width: 50%
    .completedWorks
        // Layout
        display: flex
        justify-content: center
        height: 150px
        width: 40%

.about-row-2
    @extend .about-row

    // Layout
    grid-column: 2 / 3
    margin-top: -800px !important
    .about-column 
        // Layout
        margin-top: 100px
        height: 400px
        h2 
            // Typography
            font-family: "Playfair Display"
            font-size: 30px
            font-weight: 600



@media screen and (max-width: 1225px)
    .history
        margin-top: -1100px
@media screen and (max-width: 900px)
    .about-section .about-bg 
        height: 1600px
    .about-row 
        // Layout
        flex-direction: column
        align-items: center
        justify-content: space-between
        margin-top: -1400px
        height: 900px
        .about-slider 
            display: none
        .about-column 
            // Layout
            width: 80%
            height: 450px

            // Typography
            text-align: center
            p 
                padding-top: 0 !important
            .logo-area 
                // Layout
                align-self: center
    .history 
        margin-top: -800px
    .about-row-2
        // Layout
        height: 450px
        margin-top: -550px !important
@media screen and (max-width: 800px)
    .about-section .about-bg 
        height: 1500px
    .about-row 
        margin-top: -1200px    
    .about-row-2 
        margin-top: -650px !important
    .history 
        display: none
@media screen and (max-width: 450px)
    .about-slider 
        width: 60vw !important
    .about-bg 
        height: 1500px
    .about-row 
        margin-top: -1300px
        p 
            // Layout
            width: 90vw
            margin-left: -20px !important
    