.partners-section 
    // Layout
    grid-column: 1 / 4
    .slick-list 
        // Layout
        height: 300px
    .slick-dots 
        display: none !important
    .partners-slider
        // Layout
        width: 100%
        margin-top: -500px
        grid-column: 2 / 3
        display: flex
        .partner-col
            // Layout
            width: 100%
            height: 200px
            img 
                margin: 50px auto 50px auto