.awards-section 
    // Layout
    margin-top: 75px
    grid-column: 1 / 4
    .section-title 
        color: #fff 
    .awards
        // Layout
        margin-top: -650px
        grid-column: 2 / 3
        z-index: 2
        width: 100%
        display: flex 
        .awards-slider 
            // Layout 
            width: 110%
            display: flex
            align-items: center
            justify-content: space-between
            margin-top: 50px
            .slick-dots 
                // Layout
                width: 100%
                position: absolute
                display: flex !important
                align-self: flex-end 
                justify-content: space-around
                margin-bottom: 50px
                button 
                    // Layout
                    width: 30px
                    height: 3px

                    // Misc Styling
                    cursor: pointer
                    color: transparent
                    background-color: rgba(157,125,79, .3)
                    border: none
                    border-radius: 10px

                    // Animation
                    transition: .5s ease-in-out
                .slick-active 
                    @extend button 
                    background-color: $copper
            .award-col 
                // Layout
                height: 240px
                display: flex !important
                flex-direction: column
                justify-content: space-between
                h1 
                    // Layout
                    padding: 10px
                    margin-left: 20px
        
                    // Typography
                    font-family: "Roboto"
                    font-size: 25px
                    color: #fff
                .award 
                    height: 80% 
                    display: flex
                    justify-content: center
                    img 
                        // Layout
                        height: 40%
                        width: 60%

@media screen and (max-width: 1000px)
    .awards .slick-arrow 
        display: none !important
@media screen and (max-width: 550px)
    .awards 
        justify-content: center
    .award-col 
        h1 
            margin: -50px 0 50px 0
            text-align: center
        .award img 
            height: 30% !important
            width: 40% !important
        
