.blog-section 
    grid-column: 2 / 3
    .blog-slider 
        // Layout
        margin-top: 50px
        display: flex
        align-items: center !important
        .blog-col
            // Typography
            font-family: "Roboto" 
            img 
                // Layout
                height: auto
                width: 95%
                min-width: 300px
            p 
                // Layout
                margin-top: 40px

            h1
                // Layout
                margin-top: 30px
                height: 200px
                padding-right: 30px

                // Typography
                font-size: 3vmin
                font-weight: 300
            .read-more
                // Layout
                margin-bottom: 100px
                display: flex
                align-items: center
            
                // Typography
                color: $copper
            &:hover 
                // Typography
                color: $copper
            .rarrow 
                // Layout
                margin-left: 20px
                height: 3vmin
                width: 5vmin

@media screen and (max-width: 500px)
    .blog-col h1 
        height: 100px !important
    .read-more 
        margin-bottom: 50px !important
        .rarrow
            display: none !important
    .slick-arrow 
        display: none !important