.social 
    // Layout
    width: 250px
    display: flex
    img 
        // Layout
        height: 25px 
        width: 25px
        margin-left: 10px

        // Misc Styling
        border-radius: 50%
        background-color: rgb(67, 67, 67)
        padding: 10px
        transition: .2s ease-in-out
        &:hover 
            background-color: $copper